body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo img {
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
}

nav li {
    margin: 0px 30px 0px 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

.navSinscrire {
    color: #0065fc;
    font-weight: bold;
    margin-right: 20px;
}

/* Section 1 */
.titresection-1 {
    margin-left: 20px;
}

.titresection-1 h1 {
    font-weight: bold;
    font-size: 1.3em;
}

.titresection-1 p {
    font-size: 1em;
}

.recherche {
    display: flex;
}

.logoloc {
    margin-left: 20px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    width: 3em;
    height: 3em;
    border-radius: 1em 0em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champrecherche {
    width: 20em;
    height: 3.5em;
    border-color: #f2f2f2;
}









/* Footer */
footer {
    background-color: #f2f2f2;
    display: flex;
}

footer ul {
    list-style: none;
}

footer li {
    font-size: 0.8em;
}