body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    object-fit: cover;
}

strong {
    font-weight: normal;
}

#bordersize {
    margin: 30px 30px 0px 30px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    height: 50%;
    flex-flow: row wrap-reverse;
}

nav li {
    margin: 0px 30px 0px 30px;
}

nav a {
    padding-top: 35px;
}

nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

.navSinscrire {
    color: #0065fc;
    font-weight: bold;
    margin-right: 20px;
}

/* Search section */
.searchtitle h1 {
    font-weight: bold;
    font-size: 1.3em;
}

.searchtitle p {
    font-size: 1em;
}

.searchblock {
    display: flex;
    height: 48px;
}

.logoloc {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    width: 48px;
    border-radius: 1em 0em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchfield {
    width: 12em;
    border-color: #f2f2f2;
    border-width: 1px;
    border-style: solid;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-left: 15px;
}

.searchbutton {
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 0em 1em 1em 0em;
    width: 8em;
}

#logosearch {
    display: none;
}

/* Filters section */
.filters {
    display: flex;
    font-size: 1em;
    color: black;
    margin: 40px 0px 20px 0px;
    font-weight: bold;
    flex-wrap: wrap;
    align-items: center;
}

.filterstitle {
    margin-right: 35px;
}

.filterbutton {
    display: flex;
    flex-wrap: wrap;
    border-color: #f2f2f2;
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-radius: 40px;
    height: 42px;
    margin-right: 20px;
}

.logo {
    font-size: 1em;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 12px solid #DEEBFF;
    border-radius: 40px;
    text-align: center;
    height: 20px;
    width: 20px;
    margin-top: -1px;
}

.filtername {
    margin-right: 20px;
    padding: 11px;
}

.filterbutton:hover {
    background-color: #0065FC;
    color: white;
}

.info {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 600px;
    margin-bottom: 25px;
}

.logoinfo i {
    font-size: 0.8em;
    color: #0065FC;
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    margin-right: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hébergements section */
.hebergements {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

#hebergements {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 15px;
    width: 58%;
}

#hebergements h2 {
    font-size: 1.3em;
}

/* #hebergements h4 {} */

.contenthebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenthebergements a {
    max-width: auto;
    height: 165px;
    margin-bottom: 40px;
    margin-right: 25px;
}

.labelhebergements {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 170px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.labeldescription h3 {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.labeldescription p {
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.labelimg img {
    min-width: 100%;
    max-height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.stars {
    display: flex;
    color: #0065FC;
    font-size: 0.8em;
    align-items: baseline;
}

.graystar {
    color: #f2f2f2;
}


/* Popular Section */
.popularsection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 0px 40px 30px 30px;
    width: 30%;
}

.populartitle {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.populartitle h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.populartitle i {
    font-size: 1.3em;
    margin-top: 4px;
}

.popularlabel {
    display: flex;
    background-color: white;
    min-width: 100%;
    max-height: 120px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
    margin: 5px 0px 5px 0px;
}

.popularsection a {
    min-width: 30%;
    max-height: 120px;
    margin: 10px 0px 10px 0px;
}


.popularimg img {
    width: 125px;
    height: 120px;
    border-radius: 10px 0px 0px 10px;
}

.populardesc {
    padding: 5px 0px 0px 15px;
}

.populardesc h3 {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.populardesc p {
    font-size: 0.8em;
    margin: 0px 0px;
}

.populardesc>div {
    margin-top: 50px;
}

/* Activities Section */
.activities-section {
    display: flex;
    flex-direction: column;
}

#activities {
    font-size: 1.3em;
    margin: 50px 0px 20px 0px;
}

.activities {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 385px;
}

.activities h3 {
    font-size: 0.9em;
    margin-top: 8px;
    margin-bottom: 20px;
    padding-left: 15px;
    height: 20px;
}

.actimg {
    display: flex;
    flex-direction: column;
    width: 22%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.actimgsolo img {
    border-radius: 10px 10px 0px 0px;
    height: 332px;
    width: 100%;
}

.actimg2 {
    display: flex;
    flex-direction: column;
    height: 196px;
    width: 22%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.actimgduo2 img {
    border-radius: 10px 10px 0px 0px;
    height: 143px;
    width: 100%;
}

.actimg3 {
    display: flex;
    flex-direction: column;
    height: 155px;
    width: 22%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.actimgduo3 img {
    border-radius: 10px 10px 0px 0px;
    height: 101px;
    width: 100%;
}

.actimg5 {
    display: flex;
    flex-direction: column;
    height: 171px;
    width: 22%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.actimgduo5 img {
    border-radius: 10px 10px 0px 0px;
    height: 117px;
    width: 100%;
}

.actimg6 {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 22%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.actimgduo6 img {
    border-radius: 10px 10px 0px 0px;
    height: 126px;
    width: 100%;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
}

footer ul {
    list-style: none;
    line-height: 25px;
}

footer li {
    font-size: 0.9em;
}

footer div {
    width: 32%;
}

/* Media Queries */
@media screen and (max-width: 1366px) {

    .filterstitle,
    .filterbutton {
        margin-top: 10px;
    }

    .popularsection {
        width: 100%;
        flex-flow: row wrap;
        margin-bottom: 20px;
        justify-content: space-between;
        padding: 0px 40px 30px 40px;
    }

    .populartitle {
        min-width: 100%;
        margin: 20px 0px 10px 0px;
    }

    .popularimg img {
        max-width: 100%;
        max-height: 100%;
    }

    .popularsection a {
        width: 30%;
        margin-top: 15px;
        padding-bottom: 15px;
        padding-right: 10px;
    }

    .populardesc>div {
        margin-top: 5px;
    }

    #hebergements {
        width: 100%;
    }

    .labelhebergements {
        min-width: 100%;
    }

    .labelimg img {
        max-width: 100%;
        object-position: 50% 70%;
    }
}

@media screen and (max-width: 768px) {
    .popularsection {
        width: 100%;
        flex-flow: column wrap;
        margin-bottom: 20px;
        justify-content: space-between;
        padding: 0px 40px 30px 40px;
    }

    .popularsection a {
        width: 100%;
    }

    .populardesc {
        position: relative;
    }

    .populardesc>div {
        position: absolute;
        bottom: 10px;
    }

    .contenthebergements {
        grid-template-columns: 1fr 1fr;
    }

    .activities {
        flex-flow: row wrap;
        height: auto;
    }

    .actimg {
        width: 48%;
        height: 195px;
        margin-bottom: 20px;
    }

    .actimgsolo img {
        height: 140px;
        max-width: 100%;
    }

    .actimg2 {
        width: 48%;
        height: 195px;
        margin-bottom: 20px;
    }

    .actimgduo2 img {
        height: 140px;
        max-width: 100%;
    }

    .actimg3 {
        width: 48%;
        height: 195px;
        margin-bottom: 20px;
    }

    .actimgduo3 img {
        height: 140px;
        max-width: 100%;
    }

    .actimg5 {
        width: 48%;
        height: 195px;
        margin-bottom: 20px;
    }

    .actimgduo5 img {
        height: 140px;
        max-width: 100%;
    }

    .actimg6 {
        width: 48%;
        height: 195px;
        margin-bottom: 20px;
    }

    .actimgduo6 img {
        height: 140px;
        max-width: 100%;
    }
}

@media screen and (max-width: 411px) {
    header {
        flex-wrap: wrap;
    }

    nav {
        align-self: flex-start;
        width: 100%;
    }

    nav ul {
        min-width: 100%;
        padding: 0px 0px 0px 0px;
    }

    nav li {
        text-align: center;
        margin: 0px;
        width: 50%;
        padding-bottom: 10px;
        border-bottom: 3px solid #f2f2f2;
    }

    nav a {
        display: inline-block;
        padding-top: 0px;
    }

    nav a:hover {
        display: none;
    }

    nav li:hover {
        color: #0065fc;
        border-bottom: 3px solid #0065fc;
    }

    .searchbutton {
        display: none;
    }

    #logosearch {
        background-color: #0065FC;
        color: white;
        height: 100%;
        font-size: 1em;
        border: none;
        border-radius: 15px;
        width: 4em;
    }
}