/* General */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    object-fit: cover;
}

strong {
    font-weight: normal;
}

#bordersize {
    margin: 30px 30px 0 30px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 45%;
}

nav a {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    height: 100%;
}

nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

.navsubscribe {
    color: #0065fc;
    font-weight: bold;
}

/* Search Filters */
.search h1 {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 20px;
}

.search p {
    font-size: 1em;
}

.searchblock {
    display: flex;
    height: 48px;
}

.logoloc {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    width: 48px;
    border-radius: 1em 0 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchfield {
    width: 192px;
    border: #f2f2f2 solid 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-left: 15px;
}

.searchbutton {
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 0 1em 1em 0;
    width: 128px;
    cursor: pointer;
}

#logosearch {
    display: none;
}

.filters {
    display: flex;
    font-size: 1em;
    color: black;
    margin: 40px 0 20px 0;
    font-weight: bold;
    flex-wrap: wrap;
    align-items: center;
}

.filterstitle {
    margin-right: 35px;
}

.filterbutton {
    display: flex;
    flex-wrap: wrap;
    border-color: #f2f2f2;
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-radius: 40px;
    height: 42px;
    margin-right: 20px;
}

.logo {
    font-size: 1em;
    color: #0065FC;
    background-color: #DEEBFF;
    border: #DEEBFF solid 12px;
    border-radius: 40px;
    text-align: center;
    height: 20px;
    width: 20px;
    margin-top: -1px;
}

.filtername {
    margin-right: 20px;
    padding: 11px;
}

.filterbutton:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 600px;
    margin-bottom: 25px;
}

.logoinfo i {
    font-size: 0.8em;
    color: #0065FC;
    background-color: white;
    border: #f2f2f2 solid 2px;
    border-radius: 50%;
    margin-right: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1366px) {

    .filterstitle,
    .filterbutton {
        margin-top: 10px;
    }

}

@media screen and (max-width: 846px) {

    header {
        display: inline;
    }

    header img {
        padding-bottom: 5px;
    }

    nav {
        width: 100%;
        display: flex;
    }

    .navhebergements {
        display: flex;
        justify-content: center;
        width: 50%;
        /* border-top: 3px solid transparent; */
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;
    }

    .navactivities {
        display: flex;
        justify-content: center;
        width: 50%;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 15px;
    }

    .navsubscribe {
        height: 25px;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .navsubscribe:hover {
        color: #0065FC;
        border-bottom: 3px solid transparent;
    }

    nav a:hover {
        color: black;
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065fc;
    }

    .filterstitle {
        display: inline-block;
        width: 100%;
    }

    .filterbutton {
        margin-right: auto;
    }

    .searchbutton {
        display: none;
    }

    #logosearch {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color: white;
        border-radius: 1em;
        width: 3em;
        margin-left: -10px;
        cursor: pointer;
    }

    .searchfield {
        border-right: none;
    }

}